.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87vh;
  /* padding: 1rem; */
  background-image: url(../Navbar/ocean2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  /* background-color: #363636; */
}
