.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
  background: url(../Navbar/ocean2.jpg);
  background-color: black;
}

.sets_nav--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sets_nav {
  transition: all 1s;
  height: 250px;
  width: 250px;
  margin: 50px;
  font-size: 65px;
  color: black;
  font-family: "Cinzel", serif;
  background-color: #b89130;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.6);
  text-decoration: none;
  border-style: outset;
  border-width: 6px;
  border-color: rgb(134, 130, 130);
  border-radius: 10px;
}

.sets_nav:hover {
  height: 275px;
  width: 275px;
  margin: 50px;
  font-size: 75px;
  color: black;
  font-family: "Cinzel", serif;
  background-color: #b89130;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.6);
  border-style: outset;
  border-width: 8px;
  border-color: rgb(134, 130, 130);
  border-radius: 10px;
}

h4 {
  text-decoration: none;
}
