@import url("https://fonts.googleapis.com/css?family=Cinzel");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,400i");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
* {
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 81.45px;
  background-color: black;
  border-style: solid;
  border-color: #b89130;
  /* border-color: #3a3834; */
  border-width: 0 0 2px 0;
}

/* @media (min-width: 500px) {
  .logo {
    height: 7vh;
    margin: 8px 12px 0 2px;
    /* padding-top: 12px; */
.slogo--nav {
  height: 7vh;
  margin: 8px 12px 0 18px;
  /* padding-top: 12px; */
}
.links {
  display: none;
}
.hamburger--container {
  position: absolute;
  right: 0;
  margin: 15px 5px 0 0;
}
.hamburger {
  width: 60px;
}

@media (min-width: 500px) {
  .logo {
    height: 10vh;
    margin: 8px 12px 0 18px;
    /* padding-top: 12px; */
  }
}

@media (min-width: 700px) {
  .logo--container.slogo {
    display: none;
  }

  .logo--nav {
    height: 7vh;
    margin: 8px 12px 0 18px;
    /* padding-top: 12px; */
  }
}

@media (min-width: 900px) {
}

@media (min-width: 1200px) {
  .links {
    display: flex;
    font-family: Georgia, "Times New Roman", Times, serif;
    align-items: center;
    justify-content: flex-end;
    color: #b89130;
  }

  .hamburger--container {
    display: none;
  }
}

button {
  font-family: "PT Serif", serif;
  font-weight: 400i;
  font-size: 14px;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #b89130;
}

.logout--button {
  font-family: "PT Serif", serif;
  font-weight: 400i;
  font-size: 12px;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: darkgrey;
}
.ham-item {
  text-decoration: none;
  font-size: 39px;
  text-align: center;
  margin: 13px;
  border-style: solid;
  border-bottom: 1px;
  border-color: #b89130;
  border-width: 2px;
}
.dropdown-menu-closed {
  /* background-color: grey;
  width: 200px;
  height: 297px;
  position: absolute;
  display: none;
  right: 0;
  top: -217px;
  transition: all 5s;
  border-bottom-left-radius: 5px; */
  height: 0;
  /* transition: 1.25s; */
  transition: all 1s;
  position: absolute;
  height: 0px;
  right: 0;
  top: 82px;
  width: 278px;
  overflow: hidden;
  background-color: black;
  z-index: 9999;
}
.dropdown-menu-open {
  background-color: black;
  width: 278px;
  height: 345px;
  position: absolute;
  right: 0;
  top: 82px;
  transition: all 1s;
  border-bottom-left-radius: 5px;
  border-style: solid;
  border-color: #b89130;
  border-width: 0 0 1px 1px;
  z-index: 9999;
}

/* .dropdown-menu-open:hover {
  background-color: #545454; */
/* } */

.dropdown-items-closed {
  text-align: center;
  /* height: 20px; */
  /* position: absolute;
  height: 0px;
  right: 0;
  top: 120px;
  width: 270px; */
  overflow: hidden;
  font-style: none;
  text-decoration: overline underline;
  text-decoration-color: rgba(0, 0, 0, 1);
  transition: all 2s;
  border-width: 1px 0;
  border-top-left-radius: 31px;
  border-color: #b89130;
}

/* .h4 {
  text-align: center;
  font-family: "Merriweather", serif;
  background-color: black;
  border: solid;
  font-size: 24px;
  padding: 16px;
  text-decoration: overline underline;
  text-decoration-color: rgba(0, 0, 0, 1);
  border-width: 1px 0;
  /* border-top-left-radius: 31px; */
/* border-radius: 8px;
  transition: all 2s; */
*/


/* .h4:hover {
  background-color: #353535;
  transition: all 0.5s;
  text-decoration: overline underline;
  text-decoration-color: #353535;
  /* color: black; */



.shipwheel {
  height: 33px;
  margin-right: 10px;
}

.none {
  display: none;
}
